.Header.jumbotron {
  background:linear-gradient( rgba(128, 128, 128, 0.3), rgba(0, 0, 0, .7) ), url("/food.jpg");
  background-size: cover;
  min-height: 60vh;
  margin-bottom: 0px;
}
.Header.jumbotron h1 {
  margin-top: 15vh;
  color: white;
}
.Header.jumbotron h2 {
  margin-top: 3em;
  color: white;
  text-align: right;
}